* {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    text-align: left;
    width: auto;
    height: auto;
    text-decoration: none;
}

title { display: none;}
body {
    font-family: Helvetica Neue,PingFang SC,Microsoft YaHei;
    font-size: 14px;
    line-height: 1.6;
    color: black;
    background: #F5F6F7;
    width:100%;
    min-width: 960px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
    
.page_top {
    height: 60px;
    background: white;
    clear: both;    
}
    
.top_main {
    width: 960px;
    margin: 0 auto;  
}

.logo {
    float: left;
    width: 38px;
    height: 50px;
    margin-right: 150px;
    padding-top: 10px; 
}

.site_bar {
    float: left;
    width: 600px;
    height: 60px;  
}

.site_bar ul {
    height: 60px;
}

.site_bar ul li {
    float: left;
    height: 60px;
    width: 100px;  
}

.site_bar li a {
    text-align: center;
    color: black;
    line-height: 60px;
    height: 60px;
    transition: background 0.5s,color 0.5s;
}

.site_bar li a:hover {
    background: #A6CBF9;
    color: white;
}

.banner {
    width: 100%;
    height: 520px;
    background: #7C97B1;
    min-width: 960px;
    overflow: hidden;
    background-image: url(../img/banner.png);
    background-position: center;
    background-repeat: no-repeat;
}

.banner img {
    margin: 0 auto;
    height: 960px;
}

.page_main {
    margin: 120px auto;
    height: auto;
    width: 961px;
}

.feature {
    width: 100%;
}

.mod_tit {
    width: 100%;
    text-align: left;
    line-height: 26px;
    margin: 0 0 60px;
    font-weight: bold;
    font-size: 20px;
}

.mod_tit h3 {
    margin: 20px 0 0;
    line-height: 26px;
    font-size: 20px;
}

.mod_tit p {
    line-height: 26px;
    font-size: 16px;
    color: #8E9194;
    margin: 12px 0 0;
    font-weight: normal;
}
.fea_list {
    width: 100%;
    height: 0 auto;
}

.fea_card {
    width: 176px;
    height: 248px;
    background: white;
    margin: 0 11px 0 0;
    float: left;
    border-radius: 4px;
    padding: 28px;   
}

.fea_img{
    width: 100%;
    height: 0 auto;
}

.fea_card a {
    line-height: 16px;
    color: #32A0F0;
    font-size: 12px;
    margin: 5px 0 0;
}

.fea_card a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.own_share {
    margin: 120px 0;
    width: 100%;
    height: ;
}

.share_tit {
    width: 100%;
    text-align: left;
    line-height: 26px;
    margin: 0 0 60px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 460px;
}

.own_share ul {
    
}

.own_share a:hover{
    cursor: pointer;
}

.own_share li {
    width: 313px;
    margin: 0 auto;
    background: white;
    padding: 0 auto;
    float: left;
    border-radius: 8px;
}

.own_share li h4 {
    font:16px;
    width: 280px;
    line-height: 24px;
    padding: 16px 0 0 16px;
    font-weight: bold;
}

.own_share li span {
    width: 100%;
    height: 20px;
    margin: 16px 0 0;
}

.own_share li b {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #8E9194;
    float: left;
    padding: 0 0 16px 16px;
}

.own_share li i {
    font-style: normal;
    float: right;
    line-height: 20px;
    color: #C5C8CC;
    padding: 0 16px 0 30px;
    background: url(../img/eye.png) left center no-repeat;
}

.page_footer {
    width: 100%;
    background: #2E2E2E;
    height: 300px;
    flex: 1;
}

.site_info {
    background: #2E2E2E;
    width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    height: 140px;
}

.site_intro {
    width: 280px;
    height: 140px;
    float: left;
}    
     
.sit_top {
    height: 36px;
    width: 100%; 
    padding-left: 50px;
    background: url(../img/logo.png) left no-repeat;
    color: white;
    font-size: 20px;
    line-height: 36px;
    font-weight: bold;
}

.sit_description {
    height: auto;
    width: 100%;
    line-height:24px;
    font-size: 12px;
    color: #B8B8B8;
    margin: 16px 0 0;
}

.site_map {
    height: 140px;
    float:right;
    width: 640px;
}

.map_list {
    height: 140px;
    width: 160px;
    float: right;
}

.map_list span {
    width: 100%;
    color: white;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}

.map_list a {
    color: #D6D6D6;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    text-align: left;
}
